#form {
    max-width: 600px;
}

section > div.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;;
}

#loading-gif {
    width: 100px;
}

img.card-img-top {
    width: 100%;
}

.card-sub-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}